---
import ExperienceItem from "./ExperienceItem.astro";
import Heading from "../ui/Heading.astro";
import { Icon } from "astro-icon/components";

const EXPERIENCE = [
{
  date: "2020 - Present",
  title: "Data Engineer / Data Scientist",
  company: "Institute of Software Engineering and Programming Languages, Lübeck, Germany",
  description: [
    "Designed, developed, and maintained ETL pipelines for FPOplus using Apache Airflow, PostgreSQL, MongoDB, Python, and Docker.",
    "Provided data access via MQTT, Websockets, and REST APIs.",
    "Built CI/CD pipelines with GitLab and Docker.",
    "Published a cognitive agent-based model for railway station simulations.",
    "Collected data and developed CNN models with PyTorch for KI-BioSense.",
    "Achieved over 92% accuracy in fish freshness classification with SVM.",
    "Built a blockchain system on Hyperledger Fabric for tamper-proof data storage.",
    "Coordinated and managed the KI-BioSense project with seven consortium partners."
  ],
},
{
  date: "2019",
  title: "Junior Data Scientist / Student Researcher",
  company: "Lübecker Institut für Experimentelle Dermatologie, Lübeck, Germany",
  description: [
    "Developed a pipeline for refining QTL mappings using SQL, Python, R, and Docker.",
    "Analyzed large-scale genomics datasets to extract actionable insights."
  ],
},
{
  date: "2017-2019",
  title: "Master's Degree in Data Science",
  company: "Univeisità di Roma La Sapienza, Rome, Italy",
  description: [
    "Studied advanced topics in data science including machine learning, big data, and statistical analysis.",
  ],
},
{
  date: "2014 - 2017",
  title: "Consulting Engineer",
  company: "Simaron Pardaz, Tehran, Iran",
  description: [
    "Developed discrete event simulation models in Enterprise Dynamics to optimize banking performance with ABC costing.",
    "Designed 3D simulation models to extend fruit shelf life.",
    "Built real-time data visualization dashboards for a car manufacturing factory, enhancing operational insights and decision-making."
  ],
},
{
  date: "2011 - 2014",
  title: "CRM Specialist & Team Lead",
  company: "Samaneh Magazine, Tehran, Iran",
  description: [
    "Led the CRM team to increase customer retention by improving subscription rates and reducing cancellations.",
    "Designed and executed data-driven campaign strategies and performance evaluations.",
    "Managed customer data and reporting with MS Access and Excel."
  ],
},


];
---

<section class="py-8 px-8 max-md:py-4 mb-4 scroll-m-16" id="experience">
  <div class="flex flex-col pt-8 max-w-4xl mx-auto">
    <div class="flex gap-4 items-center justify-center">
      <Icon class="text-3xl dark:text-white text-blacktext" name="briefcase" />
      <Heading text="Work" textGradient="Experience" level={2} />
    </div>

    <div class="relative max-md:mt-0 mt-8" aria-label="Professional experience">
      <ol class="relative mt-10">
        {
          EXPERIENCE.map((experience, index) => (
            <li>
              <article
                role="article"
                aria-labelledby={`experience-title-${index}`}
              >
                <div
                  class="flex flex-col gap-2  text-zinc-00 dark:text-zinc-300 md:col-span-3"
                  aria-describedby={`experience-title-${index}`}
                >
                  <ExperienceItem {...experience} />
                </div>
              </article>
            </li>
          ))
        }
      </ol>
    </div>
  </div>
</section>
